:root {
  --font-global: "Montserrat", sans-serif;

  --color-principal: #2f80ed;
  --color-secundario: #4f4f4f;
  --color-gray: #828282;
  --color-blanco: #fff;
  --color-fondo: #f2f2f2;
  --color-gris-claro: #e0e0e0;
  --color-negro: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-global);
  background-color: var(--color-fondo);
  display: block;
}

.contenedor {
  width: 95%;
  max-width: 1440px;
  margin: 40px auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
}

/* PERFIL */
.contenedor_aside_perfil {
  min-width: 370px;
}

.tarjeta {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-blanco);
  box-shadow: 0px 8px 9px -3px rgba(130, 130, 130, 0.84);
}

.perfil_img img {
  width: 100%;
}

.perfil_nombre {
  font-weight: 600;
  margin-top: 15px;
}

.titulo {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-secundario);
}

.perfil_p {
  margin-top: 5px;
  color: var(--color-gray);
}

.perfil_email {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.perfil_telefono {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.perfil_descripcion {
  margin-top: 29px;
  font-size: 18px;
  color: var(--color-gray);
}

/* EXPERIENCIA */

.contenedor_aside_experiencia {
  margin-top: 40px;
}

.experiencia_titulo {
  margin-bottom: 35px;
}

.experiencia_tarjeta_div {
  display: block;
}

.experiencia_tarjeta {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px 0;
}

.img_contenedor {
  margin-bottom: 15px;
}

.img_contenedor img {
  width: 100%;
}

.info_contenedor p {
  padding-left: 10px;
}

.info_p1 {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray);
  margin-bottom: 10px;
}

.info_contenedor h3 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.info_p2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray);
}

/*Hobbies*/

.contenedor_aside_hobbies {
  margin-top: 40px;
}

.titulo_hobbie {
  margin-bottom: 35px;
}

.hobbie_tarjeta {
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-secundario);
}

.hobbie_tarjeta_div {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.hobbie_article {
  display: block;
}

.tarjeta_imagen_hobbie {
  margin-bottom: 15px;
}
.tarjeta_imagen_hobbie img {
  width: 100%;
}
.hobbie_article h3 {
  margin-bottom: 8px;
}
.hobbie_article p {
  display: block;
}

/*MAIN*/

.contenedor_main_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
}

.contenedor_titulo {
  font-size: 18px;
  color: var(--color-secundario);
  font-weight: 700;
  margin-bottom: 20px;
}

.contenedor_progreso {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contenedor_items {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}

.contenedor_titulo_div {
  font-size: 16px;
}

.contenedor_barra {
  width: 100%;
  height: 25px;
}

/*PROYECTO*/

.seccion_titulos {
  margin-top: 30px;
}

.seccion_titulos h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-secundario);
}

.article_proyecto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article_tarjeta {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 30px;
}
.article_img img {
  width: 100%;
}

.article_contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_ul {
  display: flex;
  gap: 5px;
}
.article_ul li {
  list-style: none;
}
.article_contenido h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-secundario);
}
.article_contenido p {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-gray);
}

.article_contenido div {
  display: flex;
  gap: 10px;
}

.boton_demo {
  background-color: var(--color-principal);
  color: var(--color-fondo);
  border: 1px solid var(--color-principal);
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 10px;
}
.boton_code {
  padding: 8px 30px;
  font-weight: 500;
  border: 1px solid var(--color-principal);
  border-radius: 10px;
  background-color: var(--color-blanco);
  color: var(--color-principal);
  font-size: 18px;
}

.article_blog {
  margin-top: 20px;
}

.article_blog_tarjeta {
  display: grid;
  grid-template-columns: 45% 55%;
}
.article_blog_tarjeta h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-secundario);
}

.blog {
  font-size: 16px;
  color: var(--color-gris-claro);
  font-weight: 500;
  line-height: normal;
}

.web {
  color: var(--color-principal);
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.article_imagen_blog img {
  width: 100%;
}

.pie_pagina p {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  color: var(--color-gray);
}

.pie_pagina span {
  color: var(--color-negro);
  font-weight: bold;
}

@media (max-width: 600px) {
  .contenedor {
    grid-template-columns: 1fr;
    margin: 20px auto;
    gap: 20px;
  }

  .contenedor_aside_perfil {
    min-width: 100%;
  }

  .contenedor_main_grid {
    grid-template-columns: 1fr;
  }

  .contenedor_items {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .article_tarjeta {
    grid-template-columns: 1fr;
  }

  .article_blog_tarjeta {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .boton_demo,
  .boton_code {
    font-size: 14px;
    padding: 6px 15px;
  }
}
